

.buttonsContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.buttonsContainer .docBtn {
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
    transition: all 0.2s ease;
}

.buttonsContainer .docBtn:hover {
    background-color: rgb(223, 8, 8);
    transition: all 0.2s ease;
}