.docsContainer {
    width: 100%;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonsContainer .docBtn {
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    flex-grow: 1;
    text-align: center;
    transition: all 0.2s ease;
}

.buttonsContainer .docBtn:hover {
    background-color: rgb(223, 8, 8);
    transition: all 0.2s ease;
}

.noticesContainer .notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    padding: 25px 10px;
}


.noticesContainer .notice div {
    font-size: 18px;
    margin: 0 25px;
}


.noticesContainer .notice .docBtn, .propBtnContainer a {
    font-size: 18px;
    flex-wrap: wrap;
    text-decoration: none;
    color: #fff;
    background-color: rgb(248, 36, 36);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 0 25px;
    transition: all 0.3s ease;

}


.noticesContainer .notice .docBtn:hover, .propBtnContainer a:hover {
    background-color: rgb(211, 41, 41);
    transition: all 0.3s ease;
}

.propBtnContainer {
    margin: 15px;
    text-align: center;
    padding: 20px;
}