
.regVideoSection div {
    display: flex;
    justify-content: center;
    margin: 70px auto;
}

.regVideoSection .video {
    min-height: 250px;
}

.ppcBannerContainer img {
    width: 100%;
    object-fit: contain;
}

.scheduleTile {
    padding: 1.5rem 0;
    color: #333;
    align-self: stretch;
}

.details {
    width: 100%;
    max-width: 1300px;
}

.details > .summary {
    padding: 8px;
    padding-left: 2.2rem;
    border: none;
    cursor: pointer;
    list-style-position: inside;
    border-bottom: 2px solid darkblue;
    position: relative;
    display: block;
    transition: all 0.3s;
    font-family: var(--font1);
}

.details > div {
    padding: 8px;
    border-bottom: 2px solid darkblue;
    line-height: 2rem;
    font-family: var(--font2);
    transition: 0.3s all ease;
}

.summary:before {
    content: "";
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent darkblue;
    position: absolute;
    top: 1rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.3s transform ease;
}

.details .summary::-webkit-details-marker {
    display: none;
}

.details[open] > .summary:before {
    transform: rotate(90deg);
}

.details[open] > .summary {
}

.details li {
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.details .liIcon {
    margin: auto 10px;
}

.illuVideoSection {
    display: flex;
    justify-content: center;
    margin: 70px auto;
}

.illuVideoSection .illuVideo {
    min-height: 250px;
}

.samyogSection {
    display: flex;
    justify-content: center;
}

.samyogSection a {
    text-decoration: none;
    border: 2px solid red;
    border-radius: 5px;
    padding: 20px;
    color: rgb(218, 55, 55);
    margin-top: 4rem;
    transition: all 0.3s ease;
}

.samyogSection a:hover {
    background-color: red;
    color: white;
    transition: all 0.3s ease;
}

section.covidSection {
    margin: 5rem auto;
}

.covidMeasures .covidSymptomsContainer {
    display: flex;
    flex-direction: column;
}

.covidMeasures .covidSymptomsContainer .covidSymptomsImg {
    width: 90%;
    max-width: 400px;
    margin: 2rem;
}

.covidMeasures .covidSymptomsContainer p {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
}

.covidMeasures .btnContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    flex-wrap: wrap;
}

.covidMeasures .btnContainer .button {
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    margin: 1rem auto;
}

.covidMeasures .btnContainer .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.25s ease-in-out;
}

.covidMeasures .btnContainer .button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: all 0.25s ease-in-out;
}

.covidMeasures .btnContainer .button:hover span {
    padding-right: 25px;
}

.covidMeasures .btnContainer .button:hover span:after {
    opacity: 1;
    right: 0;
}

.covidMeasures .btnContainer .bgGreen {
    background-color: rgb(37, 189, 37);
}

.covidMeasures .btnContainer .bgRed {
    background-color: #f4511e;
}

.covidMeasures .btnContainer .bgYellow {
    background-color: #f1c40f;
}

@media (min-width: 700px) {
    .illuVideoSection .illuVideo {
        min-height: 500px;
    }

    .regVideoSection .video {
        min-height: 500px;
    }

    .covidMeasures .covidSymptomsContainer {
        display: flex;
        flex-direction: row;
    }
}

.inductionIntro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inductionIntro .info {
    padding: 50px;
    border: 1px solid red;
    border-radius: 8px;
    max-width: 350px;
    width: 80%;
    margin: auto 20px;
}

.inductionIntro .handbookContainer iframe {
    height: 450px;
}

.inductionIntro .handbookContainer {
    text-align: center;
}


div.interHall {
    margin-top: 20px;
    padding: 5vw 0;
}
