.about {
  width: 75%;
  .events {
    display: flex;
    justify-content: space-around;

    li {
      margin-top: 0.75rem;
    }

    @include sm {
      flex-direction: column;
    }
  }

  @include sm {
    width: 100%;

    h2 {
      text-align: center;
    }
  }
}
