.awards {
  .table-container {
    max-height: 100vh;
    font-size: 1.2rem;
    table {
      margin-bottom: 1rem;
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    th,
    td {
      padding: 1rem;
      padding-right: 0.25rem;
      background-color: rgb(255, 255, 255);
      color: #000;

      .medal::before {
        content: " \25CF";
        font-size: 30px;
      }

      .gold {
        color: gold;
      }

      .silver {
        color: silver;
      }

      .bronze {
        color: #cd7f32;
      }

      @include sm {
        padding: 0.1rem;
      }
    }

    th {
      text-align: left;
    }

    thead {
      position: sticky;
      top: 1;
      z-index: 1;
      th {
        background-color: #859cff;
      }
    }

    tbody {
      margin-top: 2rem;
      tr {
        background-color: rgba(10, 9, 9, 0.932);
      }
      td {
        position: relative;
        ul {
          list-style-type: none;
        }

        @include sm {
          ul {
            padding: 0.25rem;
          }
        }
      }
    }
  }
}
