.footer {
  display: flex;
  margin: 2rem 0;
  min-width: 80vw;
  flex-direction: row;
  justify-content: center;
  border-radius: 2rem;

  background: linear-gradient(45deg, #c2185b, #f44336);
  color: #fff;
  .events {
    display: flex;
    justify-content: space-between;

    .footer-block {
      margin-right: 4rem;
    }
    li > ul > li {
      margin: 0 1rem;
      list-style-type: none;
    }
    a {
      color: #fff;
      text-decoration: none;
      margin-left: 1rem;
    }
    a:hover {
      text-decoration: underline;
    }

    @include sm {
      flex-direction: column;
    }
  }
}
