.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 2rem 0;
  padding: 2rem 0;
  width: 90%;
  border-radius: 20px;

  background: linear-gradient(45deg, #c2185b, #f44336);
  color: #fff;

  ul {
    margin: 0 1rem;
    list-style-type: none;

    li {
      a {
        color: #fff;
        text-decoration: dotted;
        margin-left: 1rem;

        &:hover {
          color: white;
          text-decoration: underline !important;
        }
      }
    }
  }

  @include sm {
    flex-direction: column;
  }
}
