body {
  //   background: linear-gradient(to top left, rgb(255, 91, 132), rgb(255, 150, 111));
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-image: url("/bg-svg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;

  .content {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    padding: 1rem 2rem;

    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.18);

    h1 {
      font-weight: 800;
      font-size: 3rem;
    }
  }
}
