body {
  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .home {
    display: flex;
    margin-top: 2rem;

    @include sm {
      flex-direction: column;
    }

    .headings {
      h1,
      h2 {
        margin: 0;
        font-weight: normal;
      }

      @include sm {
        text-align: center;
      }
    }

    .logo {
      img {
        width: 150px;
        padding: 0 2rem;
      }

      @include sm {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .intro-image {
    width: 100%;
  }

  .facilities {
    .image-modals {
      display: grid;
      grid-template-columns: auto auto;

      .image-container {
        padding: 0.5rem;
      }

      @include sm {
        grid-template-columns: auto;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    padding: 1rem 2rem;

    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.18);

    h1 {
      font-weight: 800;
      font-size: 3rem;
    }

    img {
      width: 70%;
      align-self: center;
    }

    .chart {
      height: 50rem;
    }
  }
}
