body {
  //   background: linear-gradient(to top left, rgb(255, 91, 132), rgb(255, 150, 111));
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-image: url("/bg-svg.svg");
  background-repeat: no-repeat;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: 800;
      font-size: 3rem;
    }
  }
}
