.menu {
  .wrapper {
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      font-size: 1.5rem;
      padding: 0;

      li {
        margin: 0 2rem;
        padding: 0 0.5rem;

        a {
          text-decoration: none;
          color: #fff;

          &:hover {
            font-weight: bold;
          }
        }
        &::after {
          display: block;
          content: attr(data-text);
          font-weight: bold;
          height: 1px;
          color: transparent;
          overflow: hidden;
          visibility: hidden;
        }
      }

      .dropdown-title {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

        .dropdown-content {
          display: none;

          background: rgba(255, 255, 255, 0.8);
          backdrop-filter: blur(20px);
          -webkit-backdrop-filter: blur(20px);
          border-radius: 0.5rem;
          border: 1px solid rgba(255, 255, 255, 0.18);

          a {
            color: #111;
          }
        }

        &:hover {
          .dropdown-content {
            display: block;
            position: fixed;
            margin-top: 1.75rem;

            li {
              margin: 0.5rem 0;
            }
          }
        }
      }
    }
  }

  @include sm {
    display: none;
  }
}

.mobile-navbar {
  .wrapper {
    display: none;
    ul {
      display: flex;
      flex-direction: column;

      list-style: none;
      padding: 0;
      margin: 6rem 1rem;

      font-size: 1.5rem;

      li {
        margin: 0.5rem 1rem;

        a {
          text-decoration: none;
          color: #111;
        }
      }
    }
  }

  .dropdown-title {
    cursor: pointer;
    .dropdown-content {
      display: none;
    }
  }

  .down {
    .dropdown-content {
      display: block;
      margin: 0.5rem 0 0 0;
    }
  }

  .active {
    display: block;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .mobile-navbar-icon {
    display: none;
    left: 20px;
    top: 25px;
    width: 50px;
    height: 50px;

    text-align: center;
    cursor: pointer;

    span {
      position: absolute;
      width: 25px;
      height: 1px;
      background-color: #fff;

      &:nth-child(1) {
        transform: translateY(7px);
      }

      &:nth-child(3) {
        transform: translateY(-7px);
      }
    }

    @include sm {
      display: inline-block;
    }
  }

  .out {
    span {
      position: absolute;
      z-index: 99;
      background-color: #000;
      &:nth-child(1) {
        transform: rotate(-45deg);
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        transform: rotate(45deg);
      }
    }
  }
}
