.menu {
  .wrapper {
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;

      li {
        margin: 0 2em;

        a {
          text-decoration: none;
          color: #111;
        }
      }
    }
  }

  @include sm {
    display: none;
  }
}

.mobile-navbar {
  display: none;

  .wrapper {
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;

      li {
        margin: 0 1rem;

        a {
          text-decoration: none;
          color: #111;
        }
      }
    }
  }

  .mobile-navbar-icon {
    color: #111;
    @include sm {
      display: inline-block;
    }
  }
}
