@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300,800&display=swap");

body {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
