@import "mixins";
@import "variables";
@import "typography";
@import "main";

// styling for components
@import "layout";
@import "navbar";
@import "footer";

// styling for pages
@import "contacts";
@import "about";
@import "societies";
@import "awards";
@import "soc-detailes";
#__next {
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100vh;
}
