@import "mixins";
@import "variables";
@import "typography";
@import "main";
@import "animations";

// styling for components
@import "layout";
@import "navbar";
@import "footer";
@import "imageModal";

// styling for pages
@import "contacts";
@import "about";
@import "societies";
@import "awards";
@import "soc-detailes";
#__next {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  position: relative;
  margin: 0 auto;

  max-width: 1280px;
  width: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html body {
  min-height: 100vh;
  background: linear-gradient(135deg, #f44336, #673ab7);
}
