@import "mixins";
@import "variables";
@import "typography";
@import "main";

@import "layout";
@import "navbar";

#__next {
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100vh;
}
